* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom right, #fb9c93, #f7cfcf);
  background-attachment: fixed;
  background-size: cover;
}
.main_contain {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
.head {
  width: 100%;
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}
.head h2 {
  font-size: 30px;
  text-align: center;
}
.contain {
  height: 20%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.click {
  border: none;
  background-color: pink;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
}
.contain p {
  margin-top: 10px;
  font-size: 12px;
}
.foot {
  height: 60%;
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot img {
  height: 100%;
  padding-right: 10%;
}
